@font-face {
    src: url(fonts/Wremena-Light.otf);
    font-family: W;
}


body {
    background-color: #010101;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    height: 3711px;
    position: relative;
    cursor: none;
    overflow-x: hidden;
}

.cursor {
    background-image: url(img/cursor.svg);
    background-size: cover;
    position: fixed;
    width: 179px;
    height: 253px;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 999;
    transition: transform 0.2s;
}

.menu {
    position: absolute;
    width: 288px;
    height: 316px;
    left: 0.5%;
    top: 2.5%;
    /* background-color: aqua;*/
    display: block;
    font-size: 16px;
    z-index: 1001;
    position: fixed;
}


.dropdown-button {
    /*  background-color: pink;*/
    width: 260px;
    height: 47px;
    cursor: pointer;
    border: none;
    display: block;
    background-color: transparent;
    padding: 0;
    text-align: left;
}


.dropdown-menu {

    position: relative;
    z-index: 1;
    display: none;
    width: 260px;
    height: 236px;
    font-family: W;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    font-style: normal;
}

.subtitle {
    width: 260px;
    height: 56px;
    display: block;
    /* background-color: blue;*/
}


.nav {
    width: 260px;
    height: 128px;
    color: white;
    /*  background-color: bisque;*/
    display: block;
    padding-top: 20px;
}

.about {
     width: 52px;
    
}

.approaches {
width: 100px;
}

.dropdown-menu a {
    color: white;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
  border-bottom: 1px solid;
}

.menu:hover .dropdown-menu {
    display: block;

}

.background-azul {
  background: linear-gradient(180deg, #0025DC 0%, rgba(0, 37, 220, 0) 79.06%);
width: 100%;
height: 1072px;
left: -1px;
top: 0px;
}


.insta {
    background-image: url(img/insta-branco.svg);
    position: absolute;
    width: 25px;
    height: 25px;
    left: calc(50% - 25px/2 - 0.5px);
    position: absolute;
    top: 3588px;
}

.assinatura {
    position: absolute;
    width: 548px;
    height: 56px;
   left: calc(50% - 548px/2 - 0.5px);
    top: 3655px;
    text-align: center;
}

.insta:hover {
    background-image: url(img/insta-azul.svg);
}

#back {
    background-image: url(img/back.svg);
    position: fixed;
    width: 301px;
height: 20px;
    top: 90%;
    left: 4%;
    display: none;
    z-index: 99;
    cursor: pointer;
    background-repeat: no-repeat;
}

#back:hover {
    background-image: url(img/back2.svg);
}






.elephant {
    position: absolute;
    width: 519px;
    height: 113px;
    left: calc(50% - 519px/2 - 0.5px);
    top: 341px;
    text-align: center;
}

.about-text {
    position: absolute;
    width: 792px;
    height: 307px;
    left: calc(50% - 792px/2 - 0.5px);
    top: 661px;
    text-align: center;
}

#excertos {
    position: absolute;
    width: 792px;
    height: 501.71px;
    left: calc(50% - 792px/2 - 0.5px);
    top: 967px;
    outline: none;
}

.about-text2 {
    position: absolute;
    width: 792px;
    height: 308px;
    left: calc(50% - 792px/2 - 0.5px);
top: 1560px;
    text-align: center;
}

.quote {
    position: absolute;
    width: 529px;
    height: 214px;
    left: calc(50% - 529px/2 - 0.5px);
top: 1809px;
}


.about-text3 {
    position: absolute;
    width: 792px;
    height: 359px;
    left: calc(50% - 792px/2 - 0.5px);
top: 2100px;
    text-align: center;
}


#teaser {
    position: absolute;
    width: 792px;
    height: 501.71px;
    left: calc(50% - 792px/2 - 0.5px);
top: 2700px;
    outline: none;
}


.about-text4 {
    position: absolute;
    width: 792px;
    height: 359px;
    left: calc(50% - 792px/2 - 0.5px);
top: 3280px;
    text-align: center;
}









@media only screen and (min-width: 1441px) {

   .background-azul {
    background-image: url(img/journey/bkg-azul2.svg);
    width: 3000px;
    height: 1380px;
    top: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;

}
