@font-face {
    src: url(fonts/Wremena-Light.otf);
    font-family: W;
}


body {
    background-color: #010101;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
height: 6427px;
    position: relative;
    cursor: none;
    overflow-x: hidden;
}

.cursor {
    background-image: url(img/cursor.svg);
    background-size: cover;
    position: fixed;
    width: 179px;
    height: 253px;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 999;
    transition: transform 0.2s;
}

.menu {
    position: absolute;
    width: 288px;
    height: 316px;
    left: 0.5%;
    top: 0.10%;
    /* background-color: aqua;*/
    display: block;
    font-size: 16px;
    z-index: 1001;
    position: fixed;
}


.dropdown-button {
    /*  background-color: pink;*/
    width: 260px;
    height: 47px;
    cursor: pointer;
    border: none;
    display: block;
    background-color: transparent;
    padding: 0;
    text-align: left;
}


.dropdown-menu {

    position: relative;
    z-index: 1;
    display: none;
    width: 260px;
    height: 236px;
    font-family: W;
    font-size: 20px;
}

.subtitle {
    width: 260px;
    height: 56px;
    display: block;
    /* background-color: blue;*/
}


.nav {
    width: 260px;
    height: 128px;
    color: white;
    /*  background-color: bisque;*/
    display: block;
    padding-top: 20px;
}

.dropdown-menu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    color: white;
    text-decoration: underline;
}

.menu:hover .dropdown-menu {
    display: block;

}

.background-azul {
    position: absolute;
    width: 1440px;
    height: 1050px;
    top: 0%;
    z-index: 1;
}

.BKG { 
position: absolute;
width: 1698.59px;
height: 1483px;
top: 529px;
}


.insta {
    background-image: url(img/insta-branco.svg);
   width: 25px;
height: 25px;
left: 707px;
top: 6300px;
    left: calc(50% - 25px/2 - 0.5px);
    position: absolute;
}

.assinatura {
   left: calc(50% - 548px/2 - 0.5px);
    text-align: center;
    position: absolute;
width: 548px;
height: 56px;
left: 446px;
top: 6371px;
}

.insta:hover {
    background-image: url(img/insta-azul.svg);
}

#top {
    background-image: url(img/journey/top.svg);
    position: fixed;
    width: 24px;
    height: 40px;
    top: 90%;
    left: 2%;
    display: none;
    z-index: 99;
    cursor: pointer;
}

#top:hover {
    background-image: url(img/journey/top2.svg);
}



.intro {
    position: absolute;
width: 560px;
height: 226px;
left: 555px;
top: 343px;
    z-index: 2;
}


#gab1 {
  position: absolute;
width: 579.34px;
height: 367px;
left: 161px;
top: 739px;  
    outline: none;
}

#gab1:hover {
    width: 663.01px;
height: 420px;
    z-index: 2;
}

.text1 {
    position: absolute;
width: 314px;
height: 39px;
left: 161px;
top: 1116px;
    z-index: 1;
}

#gab2 {
   position: absolute;
width: 579.34px;
height: 367px;
left: 413px;
top: 932px; 
    outline: none;
}

#gab2:hover {
    width: 663.01px;
height: 420px;
    z-index: 2;
}

.text2 { 
position: absolute;
width: 375px;
height: 39px;
left: 413px;
top: 1310px;
    z-index: 1;
}

#gab3 {
  position: absolute;
width: 579.34px;
height: 367px;
left: 622px;
top: 1215px;  
    outline: none;
}

#gab3:hover {
    width: 663.01px;
height: 420px;
    z-index: 2;
}

.text3 {
    position: absolute;
width: 300px;
height: 39px;
left: 58%;
top: 1593px;
    z-index: 1;
}

#gab4 {
  position: absolute;
width: 579.34px;
height: 367px;
left: 245px;
top: 1410px; 
    outline: none;
}

#gab4:hover {
    width: 663.01px;
height: 420px;
    z-index: 2;
}

.text4 {
    position: absolute;
width: 300px;
height: 39px;
left: 235px;
top: 1788px;
    z-index: 1;
}

.sinopse1 {
    position: absolute;
width: 793px;
height: 668px;
left: 322px;
top: 2023px;

}


.sinopse2 {
position: absolute;
width: 793px;
height: 1181px;
left: 323px;
top: 2803px; 
}

.sinopse3 {
  position: absolute;
width: 793px;
height: 1023px;
left: 322px;
top: 4083px;  
}

.sinopse4 {
  position: absolute;
width: 793px;
height: 775px;
left: 322px;
top: 4746px;
}













