@font-face {
    src: url(fonts/Wremena-Light.otf);
    font-family: W;
}


body {
    background-color: #010101;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
height: 1842px;
    position: relative;
    cursor: none;
    overflow-x: hidden;
}

.cursor {
    background-image: url(img/cursor.svg);
    background-size: cover;
    position: fixed;
    width: 179px;
    height: 253px;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 999;
    transition: transform 0.2s;
}

.menu {
    position: absolute;
    width: 288px;
    height: 316px;
    left: 0.5%;
    top: 2.5%;
    /* background-color: aqua;*/
    display: block;
    font-size: 16px;
    z-index: 1001;
    position: fixed;
}


.dropdown-button {
    /*  background-color: pink;*/
    width: 260px;
    height: 47px;
    cursor: pointer;
    border: none;
    display: block;
    background-color: transparent;
    padding: 0;
    text-align: left;
}


.dropdown-menu {

    position: relative;
    z-index: 1;
    display: none;
    width: 260px;
    height: 236px;
    font-family: W;
    font-size: 20px;
}

.about {
width: 52px;
}

.approaches {
width: 100px;
}

.subtitle {
    width: 260px;
    height: 56px;
    display: block;
    /* background-color: blue;*/
}


.nav {
    width: 260px;
    height: 128px;
    color: white;
    /*  background-color: bisque;*/
    display: block;
    padding-top: 20px;
}



.dropdown-menu a {
    color: white;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
     border-bottom: 1px solid;
}

.menu:hover .dropdown-menu {
    display: block;

}

.background-azul {
     background-image: url(img/journey/background-azul.svg);
    position: absolute;
    width: 1440px;
    height: 1050px;
    top: 0%;
    background-repeat: no-repeat;
    background-size: cover;
}


.insta {
    background-image: url(img/insta-branco.svg);
    position: absolute;
    width: 25px;
    height: 25px;
    left: calc(50% - 25px/2 - 0.5px);
    position: absolute;
   top: 1720px;
}

.assinatura {
    position: absolute;
    width: 548px;
    height: 56px;
   left: calc(50% - 548px/2 - 0.5px);
   top: 1786px;
    text-align: center;
}

.insta:hover {
    background-image: url(img/insta-azul.svg);
}

#back {
    background-image: url(img/back.svg);
    position: fixed;
    width: 301px;
height: 20px;
    top: 90%;
    left: 4%;
    display: none;
    z-index: 99;
    cursor: pointer;
    background-repeat: no-repeat;
}

#back:hover {
    background-image: url(img/back2.svg);
}





.intro {
position: absolute;
width: 651px;
height: 339px;
left: 395px;
top: 340px;
    text-align: center;
}

.one {
position: absolute;
width: 249px;
height: 280px;
left: 395px;
top: 757px;
    background-image: url(img/building/1.svg);
}

.one:hover {
    background-image: url(img/building/1hover.svg);
    z-index: 1;
    cursor: pointer;
}

.two {
position: absolute;
width: 249px;
height: 280px;
left: 759px;
top: 822px;
    background-image: url(img/building/2.svg);
}

.two:hover {
    background-image: url(img/building/2hover.svg);
    z-index: 1;
    cursor: pointer;
}

.three {
position: absolute;
    background-image: url(img/building/3.svg);
width: 248px;
height: 280px;
left: 437px;
top: 1000px;

}

.three:hover {
    background-image: url(img/building/3hover.svg);
    z-index: 1;
    cursor: pointer;
}

.four {
position: absolute;
width: 248px;
height: 280px;
left: 791px;
top: 1200px;
    background-image: url(img/building/4.svg);
    background-size: cover;

}

.four:hover {
    background-image: url(img/building/4hover.svg);
    z-index: 1;
    cursor: pointer;
}





@media only screen and (min-width: 1441px) {

   .background-azul {
    background-image: url(img/journey/bkg-azul2.svg);
    width: 3000px;
    height: 1380px;
        top: 0%;
        background-repeat: no-repeat;
    background-size: cover;
    position: absolute;

}






























